@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply leading-6;
}

body {
  font-family: 'Noto Sans CJK', sans-serif;
}


html {
  /* font-size: 16px; */
  @apply body-base;
  @apply md:body-md;
  @apply sm:body-sm;
  /* @apply tracking-tight; */
}

b {
  font-weight: 700;
}

@layer utilities {
  .body-base {
    font-size: 16px;
  }

  .body-md {
    font-size: 15px;
  }

  .body-sm {
    font-size: 14px;
  }
}
@layer components {
  .dev-black {
    @apply border border-black;
  }
  .dev-blue {
    @apply border border-blue-500;
  }
  .dev-pink {
    @apply border border-pink-500;
  }
  .dev-green {
    @apply border border-green-500;
  }
  .dev-red {
    @apply border border-red-500;
  }
  .wrap {
    @apply max-w-[1080px] relative mx-auto py-10 px-6;
    @apply xl:px-2 xl:py-5 md:px-0;
  }

  .wrapInner {
    @apply px-20 py-14;
    @apply xl:px-10 xl:py-5 md:px-6 sm:px-3;
  }

  .link {
    @apply text-blue-600 hover:underline hover:text-blue-900;
  }
}


@page{
  margin: 1cm;
}